.header-image {
  position: relative;
  height: 250px;
  --background: transparent;

  ion-toolbar {
    --background: transparent;
  }
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  //filter: brightness(0.1);
   opacity: 0.2;
  z-index: -1;
}

.header-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: black;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 1rem;
    opacity: 0.9;
  }
}

ion-card {
  margin-top: 20px;
}

.space {
  height: 40px;
}

.activity-label {
  white-space: normal;

  p {
    white-space: pre-line;
    overflow: visible;
    text-overflow: unset;
  }
}

.completed {
  opacity: 0.5;
  p{
    text-decoration: line-through;
  }
}
