<ion-header class="header-image">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      @if(!toSave){
        <ion-back-button defaultHref="/"></ion-back-button>
      }
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" class="ion-margin-top" (click)="confirmDelete()">
        Elimina
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="header-content">
    <h1>{{ worksite?.name }}</h1>
    <p>{{ worksite?.descriription }}</p>
  </div>

  <div class="header-bg" [style.background-image]="'url(' + worksite?.imageBase64 + ')'"></div>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dettagli cantiere</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Cliente:</strong> {{ worksite?.customer }}</p>
      <p><strong>Indirizzo:</strong> {{ worksite?.address }}, {{ worksite?.city }}</p>
      <p><strong>Data inizio:</strong> {{ worksite?.startDate | date }}</p>
      <p><strong>Data completamento:</strong> {{ worksite?.completedDate | date }}</p>
      <p><strong>Stato:</strong>
  <ion-chip [color]="getStatusColor(worksite!.workstiteStatus)">
    <ion-label>{{ worksite?.workstiteStatus }}</ion-label>
  </ion-chip>
</p>
      <p><strong>Responsabile:</strong> {{ worksite?.manager }}</p>
      <p><strong>Note:</strong> {{ worksite?.notes }}</p>
      <ion-button expand="block" color="secondary" (click)="changeWorksiteStatus()">
        Cambia stato
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-item lines="full">
    <ion-label><strong>Attività</strong></ion-label>

    <ion-button fill="solid" slot="end" (click)="addActivity()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let activity of orderedActivities"
  [class.completed]="activity.completed">
      <ion-checkbox slot="start" [(ngModel)]="activity.completed" (ngModelChange)="toSave = true"></ion-checkbox>

      <ion-label class="activity-label">
        <h2>{{ activity.name }}</h2>
        <p>{{ activity.description }}</p>
        <!-- <p><strong>Dal:</strong> {{ activity.startDate | date }}
          <strong>Al:</strong> {{ activity.endDate | date }}
        </p> -->
      </ion-label>

      <ion-button fill="clear" slot="end" (click)="editActivity(activity)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <div class="space"></div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      [disabled]="!toSave"
      (click)="saveChanges()">
      Conferma modifiche
    </ion-button>
  </ion-toolbar>
</ion-footer>