app-worksite-card {
  .worksite-card {
    width: 100%;
    height: 150px;
    max-height: 150px;
    transition: 0.3s all;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    position: relative;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }

    display: flex;
    overflow: hidden;
    //padding: 20px 20px;
  }
  .expanded{
    max-height: 300px;

    // .worksite-title {
    //   font-size: 1.3rem;
    //   font-weight: 600;
    //   color: #333;
    // }

    // .worksite-subtitle {
    //   font-size: 1rem;
    //   color: #666;
    // }
  }

  .worksite-title {
    font-size: 0.8rem;
    font-weight: 600;
    color: #333;
    transition: 0.3s all;
  }

  .worksite-subtitle {
    font-size: 0.6rem;
    color: #666;
    transition: 0.3s all;
  }
    
  .img-zoom {
  width: 150px;
  height: 200px;
  object-fit: cover;     /* ZOOMMA e RIEMPIE */
  object-position: center; /* centra l'immagine */
}
}
